{% extends 'core/base.html' %}


{% load static %}


{% block title %}Inicio{% endblock %}


{% block content %}

    <div class="hero-container hero-container-index">
        <div class="hero-image">
            <img class="mon hero-img-first" src="{% static 'core/img/png/primario_sin_fondo_3.png' %}" alt="Logos-Institute">
            <img class="mon hero-img-second" src="{% static 'core/img/png/secundario_sin_fondo_3.png' %}" alt="Logos-Institute">
        </div>            
    </div>

    <main>
        <h3 class="second-title margin-top">Contenido Principal</h2>
        <section class="margin-top margin-bottom flex-center">
            <h4>Sección de Productos</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, labore?
            </p>
        </section>
        <section class="margin-top margin-bottom flex-center">
            <h4>Sección de Nosotros</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, labore?
            </p>
        </section>
        <section class="margin-top margin-bottom flex-center">
            <h4>Sección de Blog</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, labore?
            </p>
        </section>
        <section class="margin-top margin-bottom flex-center">
            <h4>Sección de Futuro proyectos</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, labore?
            </p>
        </section>
        <section class="margin-top margin-bottom flex-center">
            <h4>Sección de Dudas</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, labore?
            </p>
        </section>
        <section class="margin-top margin-bottom flex-center">
            Sección <h4>de Como contactarnos</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, labore?
            </p>
        </section>
    </main>
    
    <section class="section-blog">
    </section>
    
    <section class="section-contact">
    </section>
{% endblock %}