{% extends 'core/base.html' %}


{% load static %}


{% block title %}Inicio{% endblock %}


{% block content %} 
    <div class="hero-container hero-container-index">
        <div class="hero-image">
            <img class="mon hero-img-first" src="{% static 'core/img/png/primario_sin_fondo_3.png' %}" alt="Logos-Institute">
            <img class="mon hero-img-second" src="{% static 'core/img/png/secundario_sin_fondo_3.png' %}" alt="Logos-Institute">
        </div>            
    </div>

    <main>
        
        
        {% if home_texts %}
            {% for text in home_texts %}
                <h2 class="home-title">
                    {{ text.name|title }}
                </h2>
                {% if text.model == 'mosaic' %}
                    <section class="section-home-mosaic">
                        <div class="section-home-mosaic-row">
                            <div class="section-home-mosaic-{{ text.id }}-one"></div>
                            <div class="section-home-mosaic-text flex-center">
                                <p>
                                    {{ text.description }}
                                </p>
                            </div>
                        </div>
                        <div class="section-home-mosaic-row-reverse">
                            <div class="section-home-mosaic-{{ text.id }}-two"></div>
                            <div class="section-home-mosaic-button flex-center">
                                <div class="button">
                                    <a class="clear-link" href="{{ text.url }}">{{ text.url_text }}</a>
                                </div>
                            </div>
                        </div>
                    </section>
                {% else %}
                    <section class="section-home-image-{{ text.id }}">
                        {% if text.model == 'image-red' %}
                        <div class="section-home-image-filter filter-red">
                        {% elif text.model == 'image-green' %}
                        <div class="section-home-image-filter filter-green">
                        {% elif text.model == 'image-green-two' %}
                        <div class="section-home-image-filter filter-green-two">
                        {% endif %}
                            <div class="section-home-text">
                                <p>
                                    {{ text.description }}
                                </p>
                            </div>
                            <div class="button">
                                <a class="clear-link" href="{{ text.url }}">{{ text.url_text }}</a>
                            </div>
                        </div>
                    </section>
                {% endif %}
            {% endfor %}
        {% endif %}
{% endblock %}