{% extends 'core/base.html' %}


{% load static %}


{% block title %}Inicio{% endblock %}


{% block content %} 
    <div class="hero-container hero-container-index">
        <div class="hero-image">
            <img class="mon hero-img-first" src="{% static 'core/img/png/primario_sin_fondo_3.png' %}" alt="Logos-Institute">
            <img class="mon hero-img-second" src="{% static 'core/img/png/secundario_sin_fondo_3.png' %}" alt="Logos-Institute">
        </div>            
    </div>

    <main>
        

        <section class="section-home-image-name">
            <div class="section-home-image-filter filter-green-two">
                <div class="section-home-text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi facilis similique cumque qui excepturi nesciunt soluta aliquid. Molestiae, eveniet non.
                    </p>
                </div>
                <div class="button">
                    <a class="clear-link" href="#">Aprieta para conocer más</a>
                </div>
            </div>
        </section>

        <section class="section-home-mosaic">

            <div class="section-home-mosaic-row">
                <div class="section-home-mosaic-name1"></div>
                <div class="section-home-mosaic-text flex-center">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, debitis.
                    </p>
                </div>
            </div>

            <div class="section-home-mosaic-row-reverse">
                <div class="section-home-mosaic-name2"></div>
                <div class="section-home-mosaic-button flex-center">
                    <div class="button">
                        <a class="clear-link" href="#">Aprieta para conocer más</a>
                    </div>
                </div>
            </div>
            


        </section>



{% endblock %}