/*                                       */
/*            * 600x - 800px *           */
/*                                       */


/*************************************************************************/
/******************************  Variables  ******************************/
/*************************************************************************/


/************************************************************/
/************************* Settings *************************/
/************************************************************/


/*************************************************************/
/************************* Utilities *************************/
/*************************************************************/

.presentation-grid {
    grid-template-columns: repeat(2, 1fr);
}

.second-title {
    font-size:     var(--lll);
}


/**************************************************************************/
/************************* Hero, Nav and Sidemenu *************************/
/**************************************************************************/

/* Sidebar Menu */

.sidebar-menu {
    background-color: var(--main-black);
    color:            var(--main-white);
    height:           20rem;
    /* left:             -22vw; */
    position:         fixed;
    top:              -20rem;
    transition:       all 1s ease-in-out;
    width:            100vw;
} 

.lateral-nav {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    margin-top:      2rem;
}

.logo-lateral-menu {
    /* border-radius: 50%; */
    height:   8rem; 
    position: relative;
    top:      2rem;
}

.menus {
    border-top:     0rem solid var(--main-white);
    flex-direction: row;
    margin-top:     0;
    padding:        0;
    position:       relative;
    top:            -12rem;
}

.lateral-menu,
.sublateral-menu  {
    margin-top: 3.4rem;
}


/******************************************************/
/************************* Us *************************/
/******************************************************/

.us-container {
    height:  36rem;
}

.us-left {
    flex-direction: row;
}

.us-right {
    flex-direction: row-reverse;
}

.us-text {
    width:   50%;
}

.us-media {
    width:   50%;
}

.us-media video {
    height:  100%;
}

.us-media img {
    height:  100%;
}





/************************************************************/
/************************* Products *************************/
/************************************************************/

@media (min-width: 860px) {
    .categories-grid-3 {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .categories-grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .categories-grid-1 {
        grid-template-columns: repeat(1, 1fr);
    }
}

/********************************************************/
/************************* Blog *************************/
/********************************************************/

/* Post */

.post-image img {
    width:  45%;
}

/*********************************************************/
/************************* Q & A *************************/
/*********************************************************/


/***********************************************************/
/************************* Contact *************************/
/***********************************************************/


.container-forms {
    width:           90%;
}




/***********************************************************/
/************************* Contact *************************/
/***********************************************************/


/**********************************************************/
/************************* Footer *************************/
/**********************************************************/





