/*                                       */
/*            * 500x - 600px *           */
/*                                       */


/*************************************************************************/
/******************************  Variables  ******************************/
/*************************************************************************/


/************************************************************/
/************************* Settings *************************/
/************************************************************/


/*************************************************************/
/************************* Utilities *************************/
/*************************************************************/

.title-main-presentation {
    /* display:    block; */
    font-size:  var(--l);
    /* height:     12rem; */
    margin:     0 0 2rem 0;
    padding:    2rem 0 0 0;
    /* text-align: center; */
    /* width:      100%; */
}


/**************************************************************************/
/************************* Hero, Nav and Sidemenu *************************/
/**************************************************************************/


/******************************************************/
/************************* Us *************************/
/******************************************************/

.us-container {
    display: flex;
    margin:  2rem 0 0 0;
    padding: 0;
    height:  50rem;
    width:   100%;
}


/************************************************************/
/************************* Products *************************/
/************************************************************/

/* Product */


/*********************************************************/
/************************* Q & A *************************/
/*********************************************************/


/***********************************************************/
/************************* Contact *************************/
/***********************************************************/


/***********************************************************/
/************************* Contact *************************/
/***********************************************************/

/* Social Modal */

.modal-container-card {
    width: 65%;
}

/* Social Grid */

.social-grid-container {
    grid-template-columns: repeat(2, 1fr);
}

.social-grid-card i {
    font-size: 10rem;
}


/**********************************************************/
/************************* Footer *************************/
/**********************************************************/

.main-footer {
    /* align-items:      center; */
    /* background-color: var(--main-black); */
    /* color:            var(--main-white);     */
    /* display:          flex; */
    /* flex-direction:   column; */
    /* height:           46vh; */
    /* justify-content:  center; */
    /* margin-top:       10rem; */
}

.footer-social {
    /* align-items:      center; */
    /* display:          flex; */
    /* flex-direction:   column; */
    /* justify-content:  center; */
}

.footer-social-list {
    /* align-items:      center; */
    /* display:          flex; */
    gap:              12rem;
    /* justify-content:  space-around; */
    /* margin:           4rem 0 6rem 0; */
}

.fab {
    /* color:      var(--main-white); */
    font-size:  var(--lllll);   
    /* transition: all 0.2s linear; */
}

.fab:hover {
    /* transform: scale(1.8); */
}

.social-title {
    font-size: var(--ll);
}

.copyright {
    font-size: var(--medium);
}


/*********************************************************/
/************************* About *************************/
/*********************************************************/