/*                                       */
/*            * 400x - 500px *           */
/*                                       */


/*************************************************************************/
/******************************  Variables  ******************************/
/*************************************************************************/


/************************************************************/
/************************* Settings *************************/
/************************************************************/


/*************************************************************/
/************************* Utilities *************************/
/*************************************************************/


/**************************************************************************/
/************************* Hero, Nav and Sidemenu *************************/
/**************************************************************************/


/******************************************************/
/************************* Us *************************/
/******************************************************/










/************************************************************/
/************************* Products *************************/
/************************************************************/





/*********************************************************/
/************************* Q & A *************************/
/*********************************************************/


/***********************************************************/
/************************* Contact *************************/
/***********************************************************/


/***********************************************************/
/************************* Contact *************************/
/***********************************************************/


/**********************************************************/
/************************* Footer *************************/
/**********************************************************/

.main-footer {
    /* height: 40rem; */
}

.footer-social-list {
    flex-direction: row;
    gap:            8rem;
}


.social-title {
    font-size: var(--medium);
}

.copyright {
    font-size: var(--small);
}


/*********************************************************/
/************************* About *************************/
/*********************************************************/