{% extends 'core/base.html' %}


{% load static %}


{% block title %}
    {% if service.active == '0' %}
        {{ service.name|title }}
    {% else %}
        404
    {% endif %}
{% endblock %}


{% block content %}
    <main>
        {% if service.active == '0' %}

            <h2 class="bgc-red text-color-white title-main-presentation">
                {{ service.name|title }}
            </h2>
            <div class="product-info-container">
                {% if service.image %}
                    <img src="{{ service.image.url }}" alt="product Logos Institute">
                {% else %}
                    <img src="{% static 'core/img/png/isotipo_sin_fondo.png' %}" alt="product Logos Institute">
                {% endif %}
                <div class="product-info-subcontainer">
                    <p>
                        {{ service.description|safe }}
                    </p>
                </div>
            </div>









        {% else %}
            <h2 class="bgc-red text-color-white title-main-presentation">404</h2>
            <div class="margin-top margin-bottom text-justify text-margin">
                <p class="flex-center" text-align="center">
                    Lo sentimos, este contenido no está disponible &#x1F614;
                </p>
                <div class="flex-center margin-top margin-bottom">
                    <img class="width-30pr" src="{% static 'core/img/png/isotipo_sin_fondo.png' %}" alt="logos institue logo">
                </div>
                <p class="flex-center">
                    <a class="clear-link color-black" href="{% url 'services' %}">puedes continuar explorando nuestros productos aquí</a>
                </p>
            </div>
        {% endif %}
    </main>
{% endblock %}